<%- include('./components/partials/header') -%>
<%- include('./components/partials/navbar') -%>

<!-- drink Content -->
<div class="container pt-10">
    <div class="row gap-y">
        <%DrinkItem.map((drink) => {%>
        <div class="col-lg-3 col-sm-4">
            <div class="product-3">
                <a href="/item/<%= drink._id %>" class="product-media card shadow-1 hover-shadow-6">
                    <img src="<%= drink.image%>" alt="product">
                </a>
                <div class="product-detail">
                    <h6><%= drink.name%></h6>
                    <div class="product-price"><%= drink.price%> FCFA</div>
                </div>
            </div>
        </div>
        <%})%>
    </div>
</div>
<!-- drink Content -->
<%- include('./components/partials/cardModal') -%>
<%- include('./components/partials/footer') -%>
