<%- include('./components/partials/header') -%>
<%- include('./components/partials/navbar') -%>

<body data-aos-easing="ease" data-aos-duration="1500" data-aos-delay="0" class="">

<!-- cart Content -->
<main class="main-content">

    <section class="section">
        <div class="container">

            <div class="row gap-y">

                <div class="col-lg-8">
                    <% order.map((orders) => {%>
                        <% orders.items.map((order) => { %>
                            <table class="table table-cart">
                            <tbody valign="middle">
                            <tr>
                                <td>
                                    <a href="/item/<%= order.item._id%>">
                                        <img class="rounded" src="<%= order.item.image %>" alt="...">
                                    </a>
                                </td>

                                <td style="width: auto">
                                    <h5><%= order.item.name %></h5>
                                </td>
                                <td>
                                    <h5>Quantité: <%= order.quantity%></h5>
                                </td>
                                <td>
                                    <h4 class="price"><%- order.item.price * order.quantity -%></h4>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <%})%>
                    <%})%>
                </div>

                <div class="col-lg-4">
                    <div class="cart-price">

                        <div class="flexbox">
                            <div>
                                <p><strong>Total:</strong></p>
                            </div>

                            <div>
                                <p class="fw-600"><%= total %></p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
<!--                            href="/cart"-->
                            <a class="btn btn-block btn-secondary">Revise cart</a>
                        </div>

                        <div class="col-6">
                            <a class="btn btn-block btn-primary" href="/orders/<%= id %>">Checkout <i class="ti-angle-right fs-9"></i></a>
                        </div>
                    </div>

                </div>

            </div>


        </div>
    </section>

</main>

</body>

<%- include('./components/partials/cardModal') -%>
<%- include('./components/partials/footer') -%>